<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>フレームワーク開発特論演習サイト|<%= @title %></title>
</head>
<body>
<header>
<ul>
<li>
<a href="/">TOP</a>
</li>
<li>
<a href="/user/">USER</a>
</li>
</ul>
</header>
<article>
    <%= yield %>
</article>
</body>
</html>

